:root {
  --ion-color-primary: #008ab7;
  --ion-color-primary-rgb: 0,138,183;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0079a1;
  --ion-color-primary-tint: #1a96be;

  --ion-color-secondary: #4c2a74;
  --ion-color-secondary-rgb: 76,42,116;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #432566;
  --ion-color-secondary-tint: #5e3f82;

  --ion-color-tertiary: #ff784f;
  --ion-color-tertiary-rgb: 255,120,79;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e06a46;
  --ion-color-tertiary-tint: #ff8661;

  --ion-color-success: #02c39a;
  --ion-color-success-rgb: 2,195,154;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #02ac88;
  --ion-color-success-tint: #1bc9a4;

  --ion-color-warning: #ffc100;
  --ion-color-warning-rgb: 255,193,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0aa00;
  --ion-color-warning-tint: #ffc71a;

  --ion-color-danger: #d0021b;
  --ion-color-danger-rgb: 208,2,27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b70218;
  --ion-color-danger-tint: #d51b32;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}