footer {
    margin-top: 45vh;
    margin-bottom: 30px;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}

.footer-title {
    color: #4c2a74;
    text-transform: uppercase;
    letter-spacing: 1.53px;
    line-height: 1em;
    font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    text-align: center;
}

.contact {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    letter-spacing: 1.53px;
    line-height: 1em;
    margin-top: 10px;
}

.phone {
    margin-right: 20px;
}
