// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #202020;
  --ion-color-primary-rgb: 32, 32, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #474747;

  /** secondary **/
  --ion-color-secondary: #b0e0e6;
  --ion-color-secondary-rgb: 176, 224, 230;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7faeb4;
  --ion-color-secondary-tint: #e3ffff;

  /** tertiary **/
  --ion-color-tertiary: #00A2B8;
  --ion-color-tertiary-rgb: 0, 162, 184;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #007388;
  --ion-color-tertiary-tint: #5ad4ea;

  /** success **/
  --ion-color-success: #558b2f;
  --ion-color-success-rgb: 85, 139, 47;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #003d00;
  --ion-color-success-tint: #629749;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #FFED9F;

  /** danger **/
  --ion-color-danger: #b41e32;
  --ion-color-danger-rgb: 180, 30, 50;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #7d000c;
  --ion-color-danger-tint: #ec565b;

  /** dark **/
  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #9e9e9e;
  --ion-color-medium-rgb: 158, 158, 158;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #707070;
  --ion-color-medium-tint: #cfcfcf;

  /** light **/
  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d9d9d9;
	--ion-color-light-tint: #fafafa;
	
	/** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #cccccc;
	--ion-color-white-tint: #ffffff;

	--ion-margin: 12px;
	--ion-padding: 8px;
}
