.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 350px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
  }
  
  .side-drawer .nav-link {
    color: #008ab7;
    text-decoration: none;
    letter-spacing: 1.53px;
    text-transform: uppercase;
    line-height: 4em;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    margin-left: 20px;
  }
  
  .side-drawer .nav-link:hover,
  .side-drawer .nav-link:active {
    color: #ffc432;
  }
  
  @media (min-width: 769px) {
      .side-drawer {
          display: none;
      }
  }